.THIS {
    background-color: white;
}
.THIS .slds-button.slds-button_neutral.search-button{
    background-color: orange;
    color: white;
    font-weight: bold;
    border-color: orange;
}
.THIS .slds-form-element__help{
    position: absolute;
    top: 0px;
}